/* ==============
   Style de base
   ============== */

html {
  color: #ffffff;
  background-color: #161616;
}

/* =======================
   EXEMPLE de Media Query
   ======================= */

   @media only screen and (min-width: 600px) 
    .grid {
      grid-template-columns: repeat(auto-fill),minmax(250pc, 1fr)
      gap: 1rem;
    }

.header {
  position: relative;
}

.header h1 {
  position: absolute;
  top: 70%;
  bottom: 30%;
  right: 50%;
  left: 50%;
}

h1 {
  justify-content: center;
  display: flex;
  align-items: center;

}

img {
  height: auto;
  width: 100%;
}

.menu{
  justify-content: center;
  display: flex;
  gap: 5rem;
}
